/* You can add global styles to this file, and also import other style files */
.common-body{
    width:60%;
    margin:auto;
    }
    .common-body-color{
        background-color: aquamarine
    
    }